<h1>1 лабораторная</h1>
<br>
<h3>Используя программные средства (MS Visual Studio, Borland, и. т. д.) написать программу, использующую для генерации
  датчик псевдослучайных чисел, встроенный в эти средства.
</h3>
<button (click)="generateRandom()">Math.random</button>
<hr>
<h3>Используя функцию CryptoAPI CryptGenRandom сгенерировать файл, содержащий псевдослучайные последовательности.
</h3>
<button (click)="generateCryptoRandom()">Math.random</button>
<hr>
<h3>Самостоятельно реализовать генератор. Используя реализованный датчик сгенерировать файл, содержащий псевдослучайные последовательности.</h3>
<button (click)="myGenerator()">my generator</button>

