<h1>2 лабораторная (Шифр Виженера)</h1>
<br>
<!--<label>input text: </label>-->
<!--<textarea [(ngModel)]="userText"></textarea>-->
<!--<label>result: </label>-->
<!--<textarea [ngModel]="result"></textarea>-->
<!--<button (click)="encrypt(userText)">Encrypt</button>-->
<!--<button (click)="decrypt(userText)">Decrypt</button>-->
<!--<button (click)="clear()">clear</button>-->
<!--<label>step: </label>-->
<!--<select size="1" (change)="onChange($event)" [ngModel]="userStep">-->
<!--  <option>1</option>-->
<!--  <option>2</option>-->
<!--  <option>3</option>-->
<!--  <option>4</option>-->
<!--  <option>5</option>-->
<!--  <option>6</option>-->
<!--  <option>7</option>-->
<!--  <option>8</option>-->
<!--  <option>9</option>-->
<!--  <option>10</option>-->
<!--  <option>11</option>-->
<!--  <option>12</option>-->
<!--  <option>13</option>-->
<!--  <option>14</option>-->
<!--</select>-->



<p>Ключ
  <input type="text" id="key_data" class="red_class" value="" [(ngModel)]="key">
  <input type="hidden" id="key_data_long" class="" value="">
</p>
<p>Открытый текст
  <input type="text" id="input_data" class="red_class" value="" [(ngModel)]="input">
</p>
<p>Шифрованный текст
  <input type="text" id="output_data" class="red_class" value="" [(ngModel)]="output">
</p>
<p>
  <button id="codebutton" (click)="code()">ЗАШИФРОВАТЬ</button>
  <button id="decodebutton" (click)="decode()">РАСШИФРОВАТЬ</button>
</p>
<p>
<table id="table1">
  <thead>
  <tr></tr>
  </thead>
  <tbody></tbody>
</table>
