<h1>5 лабораторная</h1>
<br>
<h3>Алгоритм дискретного возведения в степень</h3>
<label>input base: </label>
<input [(ngModel)]="b">
<label>input pow: </label>
<input [(ngModel)]="n">
<label>input module: </label>
<input [(ngModel)]="m">
<br>
<button (click)="oneUser(b,n,m)">start</button>
<p *ngIf="result">result: {{result}}</p>
<hr>
<h3>Алгоритм Диффи-Хеллмана для двух пользователей</h3>
<label>input base: </label>
<input [(ngModel)]="b1">
<label>input pow: </label>
<input [(ngModel)]="n1">
<label>input module 1: </label>
<input [(ngModel)]="m1">
<label>input module 1: </label>
<input [(ngModel)]="m2">
<br>
<button (click)="twoUsers(b1, n1, m1, m2)">start</button>
<div *ngIf="y2">
  <p>1 opened key: {{y1}}</p>
  <p>2 opened key: {{y2}}</p>
  <p>1 secret key: {{z1}}</p>
  <p>2 secret key: {{z2}}</p>
</div>
<button *ngIf="result || y2" (click)="clear()">clear</button>


