/*.container {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
/*}*/

.hidden{
  display: none;

}

/*p*/
/*align: center*/
img {width: 20%;}

