<div class="container">
  <h3>Choose file</h3>
  <input class="hidden" type="file" name="image" (change)="fileProgress($event)" #hiddenfileinput/>
  <button (click)="hiddenfileinput.click()">upload image
  </button>
  <img *ngIf="previewUrl" [src]="previewUrl" height="auto"/>
  <p *ngIf="fileData">{{fileData.size}}</p>
</div>
<button (click)="todo()">etrer</button>
