<h1>3 лабораторная</h1>
<br>
<h3>Алгоритм Евклида</h3>
<label>input a: </label>
<input [(ngModel)]="a">
<label>input b: </label>
<input [(ngModel)]="b">
<br>
<button (click)="euclidAlgorithm()">euclid algorithm</button>
<p *ngIf="euclidResult">result: {{euclidResult}}</p>
<hr>
<h3>Расширенный алгоритм Евклида</h3>
<button (click)="extendedEuclidAlgorithm()">extended euclid algorithm</button>
<p *ngIf="nod">result:
  НОД: {{nod}}
  k1: {{k1}}
  k2: {{k2}}
</p>
<br>
<button *ngIf="nod || euclidResult" (click)="clear()">clear</button>



