<app-first-lab></app-first-lab>
<br>
<hr>
<br>
<app-second-lab></app-second-lab>
<br>
<hr>
<br>
<app-third-lab></app-third-lab>
<br>
<hr>
<br>
<app-fourth-lab></app-fourth-lab>
<br>
<hr>
<br>
<app-fifth-lab></app-fifth-lab>
<br>
<hr>
<br>
<app-sixth-lab></app-sixth-lab>

